<div class="container-fluid">
        <div class="card">
          <div class="card-header col-sm-12">
            <h3 style="float:left"><b>Set a Frequency</b> </h3>
            <a style="float:right;color: black" href="#"><i style='font-size:24px; ' class='fas'>&#xf060;</i>&nbsp; BACK</a>
          </div>
          <div class= "card-body">
            <nav>
              <ul class="nav nav-tab">
                  <li class="nav-item active">
                    <a class="nav-link  " id="Daily" data-toggle="tab" href="#daily">DAILY</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="Weekly" data-toggle="tab" href="#weekly">WEEKLY</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="Monthly" data-toggle="tab" href="#monthly">MONTHLY</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="Quartely" data-toggle="tab" href="#quartely">QUARTELY</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="Yearly" data-toggle="tab" href="#yearly">YEARLY</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="One_time" data-toggle="tab" href="#one_time">ONE TIME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="Completion" data-toggle="tab" href="#completion">ON COMPLETION OF </a>
                  </li>
                </ul>
              </nav>  
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="daily" >
                        <div class= "row" style="margin-top: 50px; margin-bottom:50px; margin-left: 50px;">
                            <p>Every</p> &nbsp; 
                            <div class="select" >
                                <select style="border-top-width: 0px;border-right-width: 0px;border-left-width: 0px;">
                                <option selected>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                               </select>
                            </div>
                            <p>Day at</p> &nbsp;
                            <div>
                                <div class="md-form">
                                    <input type="time" id="input" class="form-control" value="23:59" mdbInput/>
                                </div>
                            </div>
                        </div>
                        <div class="custom-control custom-switch">
                                <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="weekly">

                    </div>
                    <div class="tab-pane fade" id="monthly">

                    </div>
                    <div class="tab-pane fade" id="quartely">

                    </div>
                    <div class="tab-pane fade" id="yearly">

                    </div>
                    <div class="tab-pane fade" id="weekly">

                    </div>    
                    <div class="tab-pane fade" id="completion">

                    </div>                  
                </div>
          </div>
        </div>  
      </div>